.box-banner {
  height: 40rem;
  width: auto;
  position: relative;
}

.box-banner-btns {
  position: absolute;
  top: 25%;
  right: 10%;
}

.box-banner-regalos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: row;
}

.box-banner .banner {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.ondas-banner {
  width: 1rem;
}
.section-sorteo-home {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.btn-regalos {
  background-color: #febf41;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
  padding: 1.5rem 0rem;
  margin: 2rem auto;
  width: 13rem;
  border-radius: 30px;
  text-align: center;
  line-height: 1.3rem;
}

.box-text-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.text-title {
  font-family: "Clicker Script", cursive;
  font-size: 2rem;
  margin: 0rem 1rem 0rem;
  color: #4b66ae;
}

.ondas {
  width: 6rem;
}

.box-sorteo-home {
  width: 31.5rem;
  text-align: center;
  margin: 1rem auto;
}
.box-img-sorteo-home {
  position: relative;
}

.img-sorteo {
  width: 90%;
}
.line-up {
  position: absolute;
  top: 3rem;
  left: -2rem;
  width: 2.5rem;
}
.line-down {
  position: absolute;
  bottom: 2rem;
  right: 2.8rem;
  width: 2.5rem;
}

.section-lo-mejor-home {
  background: linear-gradient(
      270deg,
      rgba(242, 211, 230, 0.5) 0%,
      rgba(229, 209, 231, 0.5) 13.49%,
      rgba(150, 199, 236, 0.5) 100%
    ),
    url("../../assets/home/shop.svg");
  padding: 6rem 0rem;
  position: relative;
  background-position: right bottom;
}

.box-title-lo-mejor-home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0rem 4rem; */
}

.nube-up {
  position: absolute;
  top: -10%;
  left: 5%;
  width: 20rem;
}

.nube-down {
  position: absolute;
  transform: rotate(180deg);
  width: 20rem;
  right: 5%;
  bottom: -12%;
}

.box-img-lo-mejor {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
  margin: 5rem 0;
}

.img-lo-mejor {
  border: 1px #575756;
  border-style: dashed;
  padding: 0.6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.img-lo-mejor img {
  width: 100%;
}
.onda-rosa {
  width: 5rem;
  margin: auto;
  display: block;
  position: relative;
  top: 0rem;
}

.btn-lo-mejor {
  padding: 1.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 1.3rem;
  width: 13rem;
  height: 6rem;
  margin: auto;
  background-color: #febf41;
  border-radius: 25px;
  color: #fff;
  line-height: 1.3rem;
  position: relative;
  top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-blog-home {
  padding: 4rem 0;
}
.box-img-blog-home {
  position: relative;
  padding: 5rem 0;
}

.line-up-azul {
  position: absolute;
  top: 2.6rem;
  left: 4rem;
  width: 2.5rem;
}

.line-down-azul {
  position: absolute;
  bottom: 2.8rem;
  right: 0rem;
  width: 2.5rem;
}

.img-blog {
  width: 90%;
  margin: auto;
  display: block;
  padding-left: 4rem;
}

.container-blog-home {
  padding: 1rem 0;
}

.btn-blog-home {
  width: auto;
  height: 7rem;
  text-align: center;
  background: #4b64a4;
  color: #fff;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
}

.box-btn-blog {
  margin: 0rem 5rem 0rem 5rem !important;
}

.ver-mas-home {
}



@media (min-width: 1800px) {
  .box-banner {
    height: 25rem;
    width: auto;
  }

  .section-sorteo-home {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .box-text-title {
    padding-top: 5rem;
  }

  .ondas {
    width: 6rem;
  }

  .box-sorteo-home {
    width: 31.5rem;
    text-align: center;
    margin: 2rem auto;
  }
  .box-sorteo-home .title-fuxia {
    font-size: 1.5rem;
  }
  .box-sorteo-home .subtitle-dark {
    font-size: 1.2rem;
  }
  .btn-yellow {
    font-weight: 900;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0rem;
    margin: 1rem auto;
    width: 8rem;
    border-radius: 30px;
  }
  .img-sorteo {
    width: 80%;
  }
  .line-up {
    position: absolute;
    top: 1rem;
    left: -2rem;
    width: 2.5rem;
  }
  .line-down {
    position: absolute;
    bottom: 0.5rem;
    right: 4.5rem;
    width: 2.5rem;
  }

  .section-lo-mejor-home {
    padding: 4rem 0rem;
  }

  .box-title-lo-mejor-home {
    font-size: 0.7rem;
  }
  .box-title-lo-mejor-home .title-fuxia {
    font-size: 1.5rem;
  }

  .nube-up {
    position: absolute;
    top: -5%;
    left: 5%;
    width: 15rem;
  }

  .nube-down {
    position: absolute;
    transform: rotate(180deg);
    width: 15rem;
    right: 5%;
    bottom: -6%;
  }

  .box-img-lo-mejor {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
    margin: 3rem 0;
  }

  .img-lo-mejor {
    width: 15rem;
    height: 15rem;
  }

  .onda-rosa {
    width: 4rem;
  }

  .btn-lo-mejor {
    padding: 1.5rem;
    font-weight: 1000;
    font-size: 1rem;
    width: 10rem;
    height: 4.5rem;
  }
  .section-blog-home {
    padding: 3rem 0;
  }
  .box-img-blog-home {
    padding: 5rem 0;
  }

  .line-up-azul {
    top: 3rem;
    left: 5.5rem;
  }

  .line-down-azul {
    bottom: 3rem;
    right: 1.5rem;
  }

  .img-blog {
    width: 80%;
  }

  .container-blog-home {
    padding: 1rem 0;
  }

  .title-fuxia {
    font-size: 1.5rem;
  }

  .btn-blog-home {
    width: auto;
    height: 4.5rem;
    font-size: 0.8rem;
  }

  .box-btn-blog {
    margin: 0rem 3rem 0rem 3rem !important;
  }
}
@media (max-width: 769px) {
  
  .section-sorteo-home {
    padding-top: 1rem;
  }
  .box-text-title {
    padding-top: 1rem;
  }
  .box-sorteo-home {
    width: 100% !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .box-img-sorteo-home {
    margin: auto;
    display: block;
  }
  .img-sorteo {
    width: 80%;
    display: block;
    margin: auto;
  }

  .box-img-lo-mejor {
    margin: 0rem !important;
    margin-top: 2rem !important;
  }

  .img-lo-mejor {
    width: 12rem;
    height: 12rem;
  }

  .line-up {
    width: 1.5rem;
    top: 0.3rem;
    left: 0.7rem;
  }

  .line-down {
    bottom: -0.2rem;
    right: 0.5rem;
    width: 1.5rem;
  }

  .nube-up {
    width: 10rem;
    left: -2rem;
    top: -2rem;
  }

  .nube-down {
    width: 10rem;
    right: -1rem;
    bottom: -2rem;
  }

  .btn-lo-mejor {
    font-size: 1rem;
    width: 11rem;
    height: 4rem;
    border-radius: 20px;
  }

  .box-img-blog-home {
    padding: 1rem;
  }

  .img-blog {
    padding-left: 0rem;
    width: 80%;
  }

  .line-up-azul {
    width: 1.5rem;
    top: -0.7rem;
    left: 1.5rem;
  }

  .line-down-azul {
    width: 1.5rem;
    right: 1rem;
    bottom: -0.3rem;
  }
  .box-btn-blog {
    margin: 0rem 3rem 0rem 3rem !important;
  }
  .btn-blog-home {
    font-size: 0.9rem;
    border-radius: 25px;
    height: 5rem;
  }
  .box-banner-btns {
    top: 45%;
  }
  .box-banner-regalos {
    flex-direction: column;
    margin-top: 1rem;
  }

  .btn-regalos {
    width: 15rem;
    margin: 0.8rem auto;
    font-size: 1rem;
  }
}
