.navbar {
  padding: 1rem 5rem !important;
  background: #fff;
  z-index: 99;
  position: fixed !important;
  width: 100%;
}

.logo-yesmom {
  width: 5rem;
}
.item-navbar {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.item-menu {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0 0.5rem !important;
}

.item-menu img {
  width: 100%;
  height: 100%;
}

.input-search {
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
}

.nav-items-collapse {
  margin-left: auto;
}

.ml-form-search{
  margin-left: auto;
}

@media (max-width: 769px) {
  .logo-yesmom {
    width: 3rem;
  }

  .burger-yesmom {
    width: 2rem;
  }
  .navbar {
    padding: 1rem !important;
  }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-items-collapse {
    padding-left: 5rem;
    width: 100%;
  }

  .nav-items-collapse img{
    display: none;
  }

  .nav-link{
    padding:0rem 1rem!important;
  }


  .form-inline{
    flex-flow: initial!important;
    padding-top: 2rem;
    padding-bottom: 1rem!important;
  }
  .ml-form-seacrh{
    margin-left: 0;
    
    
  }

  .item-navbar{
    align-items: flex-start!important;

  }
  .lupa-img{
    width: 1.5rem;
  }

  .item-navbar h6{
    font-size: 1.1rem;
  }

  a.item-navbar.nav-link{
    border-bottom: .5px solid #000;
  }

}
