.footer{
    background: #556EA1;
    background-image: url("../../assets/trama-footer.svg"); 
    color: #fff;
    background-position: top center;
    background-size: cover;
    padding: 5rem 0;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer a:hover{
    color: #000;
    text-decoration: none;
}

.tilte-footer{
    margin-bottom: 1.5rem;
}

.icon-redes{
    font-size: 1.5rem;
    margin-right: .7rem;
    margin-left: .7rem;
}
.padding-left{
    padding-left: 6rem;
}
@media (max-width: 768px) {
    .footer{
        background-image: url("../../assets/trama-footer-responsive.svg"); 
        background-position: top center;
        background-size: cover;
        padding: 3rem 0;
        background-repeat: no-repeat;
        font-family: 'Montserrat', sans-serif;
    }
    
    .footer a{
        color: #fff;
        text-decoration: none;
    }
    
    .footer a:hover{
        color: #000;
        text-decoration: none;
    }
    
    .tilte-footer{
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        font-size: 0.9rem;
    }
    
    .icon-redes{
        font-size: 1.6rem;
        margin-right: .7rem;
        margin-left: .7rem;
        margin-top: 0.5rem;
    }
    .footer .padding-left{
        padding-left: 0rem;
        text-align: center!important;
    }
    .footer .padding-left p{
        margin-bottom: 0.4rem;
        font-size: 0.8rem;
    }
}