@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

html {
  font-size: 0.98vw !important;
  font-family: "Montserrat", sans-serif;
}

.w-80 {
  width: 80%;
}


.pl-10{
  padding-left: 6rem;
}
.title-fuxia {
  color: #ec608d;
  font-weight: 1000;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem;
  text-align: center;
}

.subtitle-dark {
  color: #575756;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.btn-yellow {
  background-color: #febf41;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
  padding: 1.5rem 0rem;
  margin: 2rem auto;
  width: 13rem;
  border-radius: 30px;
}
.bg-fuxia {
  background: #ec608d!important;
}

.bg-verde{
  background-color: #C9DBC3!important;
}
.bg-azul{
  background: #4B64A4!important;
}


/* @media (min-width: 576px) {
  .box-web {
    max-width: 900px !important;
  }
}
@media (min-width: 900px) {
  .box-web {
    max-width: 992px !important;
  }
}
@media (min-width: 992px) {
  .box-web {
    max-width: 1200px !important;
  }
}
@media (min-width: 1200px) {
  .box-web {
    max-width: 1500px !important;
  }
} */
.box-yesmom{
  max-width: 1800px;
  width: 100%;
  margin:auto;
}

@media (max-width: 769px) {
  html {
    font-size: 4.6vw!important;
  }
  .title-fuxia{
    font-size: 1.2rem;
  }

  .subtitle-dark {
    font-size: 1rem;
  }

  .btn-yellow {
    font-size: 1rem;
  padding: 1.2rem 0rem;
  width: 10rem;
  }
}
